<h1>LISTA DE POSTAGENS: </h1>

{{#each posts}}
    <small>{{createdAt}}</small>
    <h1>{{titulo}}</h1>
    <p>{{conteudo}}</p>
    <a href="/deletar/{{id}}"><button>Deletar</button></a>
    <a href="/editar/{{id}}"><button>Atualizar</button></a>
    <small>Ultima vez atualizado: {{updatedAt}}</small>
    <hr>
{{/each}}